/* Sticky footer styles
-------------------------------------------------- */

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#Footer {
  height: 60px;
  width: 200px;
  position: relative;
  left: -10px;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

/* unvisited link */
a:link {
    color: gray;
}

/* visited link */
a:visited {
    color: gray;
}

/* mouse over link */
a:hover {
    color: #FFF;
}


.Container {
  width: auto;
  max-width: 680px;
  padding: 0 0 px;
}

.caret-up {
    /* Safari */
    -webkit-transform: rotate(-90deg);
    
    /* Firefox */
    -moz-transform: rotate(-90deg);
    
    /* IE */
    -ms-transform: rotate(-90deg);
    
    /* Opera */
    -o-transform: rotate(-90deg);
    
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=4);

}

.arrow-up {
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	
	border-bottom: 5px solid gray;
}

.drop-up{
    top: auto;
    bottom: 100% !important;
}
